* {
  padding: 0;
  margin: 0;
  border: 0;
}

.home-header {
  width: 100%;
  height: 127px;
  background-color: #FFFFFF;
  display: flex;
}

.home-logo-container {
  float: left;
  width: 40%;
  height: 100%;
}

.home-logo {
  width: 81px;
  height: 81px;
  padding-top: 23px;
  padding-left: 24px;
  float: left;
}

.home-logo-text {
  position: relative;
  width: 255px;
  height: 93px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0;
  float: right;
}

.home-header-login {
  text-decoration: none;
  position: absolute;
  width: 168px;
  height: 61px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  float: left;
}

.home-register-button-container {
  position: absolute;
  width: 210px;
  height: 61px;

  background: #2E86AB;
  border-radius: 15px;
  float: right;
}


.home-register-button {
  text-decoration: none;
  position: absolute;
  width: 196px;
  height: 48px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  float: right;
}

.background {
  width: 100%;
  height: 600px;
  background: url(../images/home_banner.jpg);
  position: fixed;
}

.main-body {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  background-color: #f8ac62;
  position: absolute;
  z-index: 999;
}

.welcome{
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../images/dragon_fight.jpg);
  background-size: cover;
}

.welcome-title{
  text-align: center;
  font-size: 80px;
  text-shadow: 15%;
  color: white;
}

.welcome-greeting{
  text-align: center;
  font-size: 25px;
  text-shadow: 15px;
  color: #c6c6c6;
}

.advert{
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #eaeaea;
}

.selectie{
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #dadada;
}

.free{
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #eaeaea;
}

.advert-foto{
  float: right;
  height: 45%;
  width: 45%;
}

.selectie-foto{
  float: left;
  height: 45%;
  width: 45%;
}

.free-foto{
  float: right;
  height: 45%;
  width: 45%;
}
