* {
  padding: 0;
  margin: 0;
  border: 0;
}

.home-header {
  width: 100%;
  height: 127px;
  background-color: #FFFFFF;
  display: flex;
}

.home-logo-container {
  float: left;
  width: 40%;
  height: 100%;
}

.home-logo {
  width: 81px;
  height: 81px;
  padding-top: 23px;
  padding-left: 24px;
  float: left;
}

.home-logo-text {
  position: absolute;
  width: 255px;
  height: 93px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: left;
}

.home-header-login {
  text-decoration: none;
  position: absolute;
  width: 168px;
  height: 61px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  float: left;
}

.home-register-button-container {
  position: absolute;
  width: 210px;
  height: 61px;

  background: #2E86AB;
  border-radius: 15px;
  float: right;
}


.home-register-button {
  text-decoration: none;
  position: absolute;
  width: 196px;
  height: 48px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  float: right;
}

.background {
  width: 100%;
  height: 600px;
  background: url(../images/home_banner.jpg);
  position: fixed;
}

.main-body {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #f8ac62;
  position: absolute;
  z-index: 999;
}
